.header {
    display: flex;
    justify-content: space-between;
    padding: 45px 0 45px 0;
}
.left {
    display: flex;
    align-items: center;
}
.logo {
    margin-right: 15px;
}
.right {
    display: flex;
}
.list {
    margin-right: 30px;
    display: flex;
    align-items: center;
}
.basket {
    margin-right: 10px;
}
.heart {
    margin-right: 30px;
}
.title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
}
.delivery {
    color: #9D9D9D;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}
.sum {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #5C5C5C;
}